.formLogin{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index:1000 ;
    top: 0;
    display: flex;
    align-items: center;
    
}

.loginform{
    height:70vh ;
    margin: auto;
    padding: 3vw;
    padding-top: 5vh;
    border: 2px solid rgba(0,0,0,0.5);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    position: relative;
    background-color: #fffcfc;
}
.closePage{
  position: absolute;
  top: 30px;
  right: 20px;
  border-radius: 50%;
  background-color: rgba(0,0,0,0.3);
  padding: 1vh;
}
.tooltiptxt{
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
}
.closePage:hover .tooltiptxt{
    visibility: visible;
}
.closePage:hover{
    background-color: rgba(0,0,0,0.6);
    cursor: pointer;
}
.form-group{
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 gap: 10px;
 align-items: center;
 height: 9vh;
 width: 100%;
 padding: 2vh;
}
.form-group label{
  font-size: 20px;
  color: black;
}
.form-group input:hover{
    border: 2px solid rgb(30, 90, 231);
}

.form-group input{
  height: 100%; 
  border: 2px solid black;
  width: 100%;
  padding: 1vh;
  border-radius: 5px;
}
.accoutBtn{
    height: 6vh;
    width: 100%;
    background-color: orangered;
    border-radius: 10px;
    font-size: large;
    color: white;
    margin-top: 1vh;
}

.signuplink{
    color: orangered;
}
.termslink{
    color:blue;
}











